In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('dogs_dataset.csv')
df.head()

                  Breed  Age (Years)  Weight (kg)    Color  Gender
0      Airedale Terrier           13           35    White    Male
1  Jack Russell Terrier           10           43      Tan  Female
2        Dogo Argentino            2           16  Spotted  Female
3    Labrador Retriever            9           57  Bicolor    Male
4        French Bulldog           12           39  Spotted    Male

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Breed        3000 non-null   object
 1   Age (Years)  3000 non-null   int64
 2   Weight (kg)  3000 non-null   int64
 3   Color        3000 non-null   object
 4   Gender       3000 non-null   object
dtypes: int64(2), object(3)
memory usage: 117.3+ KB

In [12]:
df.shape

(3000, 5)

In [13]:
df.rename(columns={'Age (Years)': 'Age', 'Weight (kg)': 'Weight'}, inplace=True)

In [14]:
for j in ['Breed', 'Color', 'Gender']:
    count = df[j].value_counts()
    print(f'Top 10 {j}:\n{count[:10]}\n')

Top 10 Breed:
Breed
Rottweiler                       118
French Bulldog                    70
Pekingese                         68
Pembroke Welsh Corgi              67
Doberman Pinscher                 66
Weimaraner                        66
Pug                               65
Bichon Frise                      64
Vizsla                            64
Cavalier King Charles Spaniel     64
Name: count, dtype: int64

Top 10 Color:
Color
Black and White    205
Bicolor            200
Brindle            200
Merle              199
Sable              199
Black and Tan      193
Spotted            191
Blue               191
Brown              189
Red                185
Name: count, dtype: int64

Top 10 Gender:
Gender
Female    1520
Male      1480
Name: count, dtype: int64

In [15]:
grouped = df.groupby('Breed')

for column in ['Age', 'Weight']:
    mean = grouped[column].mean().sort_values(ascending=False).round(2)
    print(f'Top 10 average {column} by Breed:\n{mean[:10]}\n')

Top 10 average Age by Breed:
Breed
Lhasa Apso                     8.66
Boxer                          8.56
Belgian Malinois               8.36
Chihuahua                      8.35
Airedale Terrier               8.22
Yorkshire Terrier              8.21
Poodle                         8.08
Irish Setter                   8.07
Shiba Inu                      8.00
West Highland White Terrier    7.98
Name: Age, dtype: float64

Top 10 average Weight by Breed:
Breed
Chinese Shar-Pei        38.23
Golden Retriever        35.45
Miniature Schnauzer     35.29
Alaskan Malamute        34.64
Bulldog                 34.60
Pembroke Welsh Corgi    34.48
Saint Bernard           34.30
Bull Terrier            34.16
Dachshund               33.88
Dogo Argentino          33.67
Name: Weight, dtype: float64